
/* 标题 */
.info-title{display: flex;justify-content: space-between;max-width: 1280px;margin: 0 auto;padding: 0 8%; margin-bottom: 45px;}
.info-title .title-left h1{font-size: 22px;line-height: 22px; color: #000;margin-bottom: 10px;}
.info-title .title-left p{font-size: 14px;color: #666;}
.info-title .title-right p{font-size: 15px;line-height: 32px;color: #666;}
@media(max-width:1600px){
    .info-title .title-left h1{font-size: 20px;line-height: 20px;}
    .info-title .title-left p{font-size: 13px;}
    .info-title .title-right p{font-size: 14px;line-height: 30px;}
    .info-title{margin-bottom: 35px;}
}
@media(max-width:1400px){
    .info-title .title-left h1{font-size: 18px;line-height: 18px;}
    .info-title .title-left p{font-size: 12px;}
    .info-title .title-right p{font-size: 13px;line-height: 28px;}
    .info-title{margin-bottom: 20px;}
}
@media(max-width:960px){
    .info-title{padding: 0 5%;}
    .info-title{flex-wrap: wrap;}
    .info-title .title-right{width: 100%;margin-top: 5%;}
    .info-title{margin-bottom: 20px;}
}


/* 公司介绍 */
.about01{padding-top: 5%;}
.about01-container{max-width: 1280px;margin: 0 auto;padding: 0 8%;}
.about01-txt p img{display: inline-block;width: 100%;}
.about01-txt p {font-size: 15px;line-height: 30px; color: #666;}
@media(max-width:1600px){
    .about01-txt p{font-size: 14px;line-height: 28px;}
}
@media(max-width:1400px){
    .about01-txt p{font-size: 13px;line-height: 26px;}
}
@media(max-width:1200px){
    .about01-container{padding: 0 5%;}
}


/* 发展历程 */
.about02{padding-top: 7%;}
.about02-container{background: #e4dbd4;padding: 4% 0;}
.history{max-width: 1380px;margin: 0 auto;padding: 0 8%;}
.history .item{background: #fff;padding: 8%;}
.history .item .item-img{display: inline-block;width: 100%;padding-bottom: 100%;position: relative;}
.history .item .item-img a{position: absolute;top: 0;left: 0;display: inline-block;width: 100%;height: 100%;overflow: hidden;}
.history .item .item-img a img{ display: inline-block; width: 100%; height: 100%; filter:grayscale(1) ; transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; -webkit-filter:grayscale(1) ; }
.history .item:hover .item-img a img{ filter:grayscale(0) ; -webkit-filter:grayscale(0) ; transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
.history .item .item-txt{padding: 10% 0 6%;}
.history .item .item-txt h1{font-size: 20px;font-weight: normal;color: #000;letter-spacing: 0.15rem;margin-bottom: 6.5%;}
.history .item .item-txt p{font-size: 14px;line-height: 30px;color: #666;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.row-arrow .owl-nav .owl-prev,.row-arrow .owl-nav .owl-next{
    width: 19px;height: 33px;position: absolute;top: 44.5%;background: url(../img/about-arrow.png) no-repeat;background-size: 100% 100%;}
.row-arrow .owl-nav .owl-prev{left: -3.5%;}
.row-arrow .owl-nav .owl-next{ right: -3.5%; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }
.row-arrow .owl-nav .owl-prev:hover{
background: url(../img/about-arrow-hover.png) no-repeat;
background-size: 100% 100%;transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg)-ms-transform: rotate(180deg);-o-transform: rotate(180deg);}
.row-arrow .owl-nav .owl-next:hover{
background: url(../img/about-arrow-hover.png) no-repeat;
background-size: 100% 100%;transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);}

@media(max-width:1600px){
    .history .item .item-txt h1{font-size: 18px;}
}
@media(max-width:1400px){
    .history .item .item-txt h1{font-size: 16px;}
    .history .item .item-txt p{font-size: 13px;line-height: 26px;}
}
@media(max-width:1200px){
    .history .item .item-txt h1{font-size: 15px;}
    .history .item .item-txt p{font-size: 12px;line-height: 24px;}
}
@media(max-width:960px){
    .row-arrow .owl-nav .owl-prev, .row-arrow .owl-nav .owl-next {width: 12px;height: 22px;}
    .row-arrow .owl-nav .owl-prev {left: -22px;}
    .row-arrow .owl-nav .owl-next {right: -22px;}
    .about02-container{padding: 10% 5%;}
}


/* 服务项目 */
.about03{padding-top: 5%;}
.about03-container{max-width: 1280px;margin: 0 auto;padding: 0 8%;}
.about03-content p{font-size: 15px;line-height: 30px;color: #666;}
.about03-content ul{display: flex;align-items: center;justify-content: space-between;}
.about03-content ul li{display: inline-block;width: 31.25%;}
.about03-content ul li img{ display: inline-block; width: 100%; transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; }
.about03-content ul li img:hover{ transform:scale(1.05) ; -webkit-transform:scale(1.05) ; -moz-transform:scale(1.05) ; -ms-transform:scale(1.05) ; -o-transform:scale(1.05) ; }
@media(max-width:1600px){
    .about03-content p{font-size: 14px;line-height: 28px;}
}
@media(max-width:1400px){
    .about03-content p{font-size: 13px;line-height: 26px;}
}
@media(max-width:1200px){
    .about03-container{padding: 0 5%;}
}

/* 资质荣誉 */
.about04{padding-top: 5%;margin-bottom: 5%;}
.honor{max-width: 1380px;margin: 0 auto;padding: 0 8%;}
.honor .row .item>a{display: block; width: 100%;}
.honor .row .item .item-img{background: #f6f6f6;width: 100%;padding-bottom: 100%;position: relative;overflow: hidden; }
.honor .row .item .item-img>div{position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;display: flex;align-items: center;}
.honor .row .item .item-img img{display: block;width: auto;max-width: 80%;max-height: 80%;margin: 0 auto;transition: .5s;-webkit-transition: .5s;-moz-transition: .5s;-ms-transition: .5s;-o-transition: .5s;}
.honor .row .item:hover .item-img img{transform: scale(1.08);-webkit-transform: scale(1.08);-moz-transform: scale(1.08);-ms-transform: scale(1.08);-o-transform: scale(1.08);}
.honor .row .item .item-txt {text-align: center;padding: 15px 15px;background: #ddd;}
.honor .row .item .item-txt h2 {font-size: 16px;font-weight: normal;color: #000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.honor .row .item:hover .item-txt {background: #000;}
.honor .row .item:hover .item-txt h2 {color:#fff;}
.honor .row .item:hover{box-sizing: border-box; border: 1px solid #000;}

@media(max-width:1600px){
    .honor .row .item .item-txt{padding: 13px 13px;}
    .honor .row .item .item-txt h2{font-size: 15px;}
}
@media(max-width:1400px){
    .honor .row .item .item-txt h2{font-size: 14px;}
}
@media(max-width:1200px){
    .honor .row .item .item-txt{padding: 10px 10px;}
    .honor .row .item .item-txt h2{font-size: 14px;}
}
@media(max-width:960px){
    .honor .row .item .item-txt h2{font-size: 12px;}
}


@media(max-width:580px){
    .about01,.about02,.about03,.about04 {
        padding-top: 15%;
    }
}



/* 案例 */
.cases-main{margin-bottom: 6.5%;}
.cases-list ul{display: flex;flex-wrap: wrap;}
.cases-list ul li{display: inline-block;width: 31.25%;margin-right: 3.1%;margin-bottom: 3%;}
.cases-list ul li:nth-child(3n){margin-right: 0;}
.cases-list ul li .list-img{display: inline-block;width: 100%;padding-bottom: 66.25%;position: relative;}
.cases-list ul li .list-img a{display: inline-block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;overflow: hidden;}
.cases-list ul li .list-img a img{ display: inline-block; width: 100%; height: 100%; transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; }
.cases-list ul li:hover .list-img a img{ transform:scale(1.1) ; -webkit-transform:scale(1.1) ; -moz-transform:scale(1.1) ; -ms-transform:scale(1.1) ; -o-transform:scale(1.1) ; }
.cases-list ul li .list-txt{padding: 3.5% 0% 0;}
.cases-list ul li .list-txt h1 a{display: block; font-size: 16px;line-height: 16px; font-weight: normal;color: #333;position: relative;padding: 0 calc(4px + 4%);overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.cases-list ul li .list-txt h1 a:after{content: "";position: absolute;top: 0;left: 0;width: 4px;height: 100%;background: #666666;}
.cases-list ul li:hover .list-txt h1 a{color: #ee2324;}
.cases-list ul li:hover .list-txt h1 a::after{background: #ee2324;}
.cases-list ul li .list-img span{
    display: block;position: absolute;background: rgba(0, 0, 0, 0.5);top: 0%;left: 0%;right: 0%;bottom: 0%;opacity: 0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
} 
.cases-list ul li .list-img span:before ,
.cases-list ul li .list-img span:after {content: "";display: inline-block; background: #fff; position: absolute; top: 50%; left: 50%;}
.cases-list ul li .list-img span:before {width: 7%;height: 1px;margin-left: -3.5%;}
.cases-list ul li .list-img span:after { height: 10.5%;width: 1px;margin-top: -3.25%;}
.cases-list ul li:hover .list-img span { transform: scale(1);-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); opacity: 1;}

@media(max-width:1500px){
    .cases-list ul li .list-txt h1 a{font-size: 15px;line-height: 15px;}
}
@media(max-width:1400px){
    .cases-list ul li .list-txt h1 a{font-size: 14px;line-height: 14px;}
}
@media(max-width:1200px){
    .cases-list ul li .list-txt h1 a{font-size: 13px;line-height: 13px;}
}
@media(max-width:760px){
    .cases-list ul li .list-txt{padding: 10px 0 0;}
    .cases-list ul li .list-txt h1 a:after{width: 3px;}
    .cases-main{margin-bottom: 12%;}
    .cases-list ul{justify-content: space-between;}
    .cases-list ul li{width: 48.5%;margin-right: 0 !important;margin-bottom: 20px;}
    .cases-list ul li .list-txt h1 a{font-size: 12px;line-height: 12px;}
}


/* 产品列表 */
.pro-main,.prod-main{margin-bottom: 6.5%;}
.pro-list ul{display: flex;flex-wrap: wrap;}
.pro-list ul li{display: inline-block;width:31.25%;margin-right: 3.1%;margin-bottom: 3.1%;}
.pro-list ul li:nth-child(3n){margin-right: 0;}
.pro-list ul li .list-img{display: inline-block;width: 100%;padding-bottom: 66.25%;position: relative;}
.pro-list ul li .list-img a{display: inline-block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;overflow: hidden;}
.pro-list ul li .list-img a img{ display: inline-block; width: 100%; height: 100%; transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; }
.pro-list ul li:hover .list-img a img{ transform:scale(1.1) ; -webkit-transform:scale(1.1) ; -moz-transform:scale(1.1) ; -ms-transform:scale(1.1) ; -o-transform:scale(1.1) ; }
.pro-list ul li .list-txt{padding: 5% 3.5%;background: #f0f0f0;text-align: center;}
.pro-list ul li .list-txt h1 a{display: block; font-size: 16px;font-weight: normal;color: #333;position: relative;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.pro-list ul li:hover .list-txt h1 a{color: #fff;}
.pro-list ul li:hover .list-txt{background: #ee2324;}
@media(max-width:1500px){
    .pro-list ul li .list-txt h1 a{font-size: 15px;}
}
@media(max-width:1400px){
    .casproes-list ul li .list-txt h1 a{font-size: 14px;}
}
@media(max-width:1200px){
    .pro-list ul li .list-txt h1 a{font-size: 13px;}
}
@media(max-width:760px){
    .pro-list ul li .list-txt{padding: 10px;}
    .pro-list ul li .list-txt h1 a:after{width: 3px;}
    .pro-main,.prod-main{margin-bottom: 12%;}
    .pro-list ul{justify-content: space-between;}
    .pro-list ul li{width: 48.5%;margin-right: 0 !important;margin-bottom:15px;}
    .pro-list ul li .list-txt h1 a{font-size: 12px;}
}


/* 产品详情 */
.prod-title{display: flex;justify-content: space-between;align-items: center;padding-bottom: 25px;border-bottom: 1px solid #eeeeee;margin-bottom: 5%;}
.prod-title h1{display: inline-block;font-size: 24px;color: #333;}
.prod-title a{display: inline-block;width: 160px;line-height: 40px;font-size: 14px;color: #999;border: 1px solid #ccc;text-align: center;}
.prod-title a:hover{color: #fff;background: #ee2324;border: 1px solid #ee2324;}
.prod-list .list-title{display: flex;align-items: center;padding-bottom: 14px;border-bottom: 1px solid #dddddd;margin-bottom: 2.5%;cursor: pointer;
background: url(../img/prod-arrow.png) no-repeat top 20% right 10px;background-size: 16px;}
.prod-list .list-title span{font-size: 14px;color: #666;}
.prod-list .list-title p{font-size: 20px;color: #333;font-weight: bold;width: calc(90% - 70px);overflow: hidden;text-overflow:ellipsis; white-space: nowrap;}
.prod-list .list-txt{margin-bottom: 3%;display: none;padding: 0 3%;}
.prod-list .list-txt p{font-size: 15px;line-height: 28px;color: #666;}
.prod-list .list-txt p img{display: inline-block;width: auto !important;max-width: 100% !important;height: auto !important;}
.prod-list .active{background: url(../img/prod-arrow-hover.png) no-repeat top 20% right 10px;background-size: 16px;}
.prod-list .active p{color: #ee2324 !important;}
.prod-list .list-txt:nth-child(2){display: block;}
.prod-edit p{font-size: 15px;line-height: 28px;color: #666;}
.prod-edit img{display: inline-block;width: auto !important;height: auto !important;max-width: 100% !important;}
.prod-page{padding-top: 3%;}
.prod-page p{font-size: 14px; color: #999;margin-bottom: 10px;}
.prod-page p a{color: #666;}
.prod-page p a:hover{color: #ee2324;}

@media(max-width:1600px){
    .prod-title h1{font-size: 22px;}
    .prod-list .list-title p{font-size: 18px;}
    .prod-title{padding-bottom: 22px;}
}
@media(max-width:1500px){
    .prod-list .list-title{padding-bottom: 12px;}
    .prod-title h1{font-size: 21px;}
    .prod-list .list-title p{font-size: 17px;}
    .prod-title a{font-size: 13px;width: 180px;line-height: 38px;}
    .prod-list .list-title span{font-size: 13px;}
    .prod-list .list-title,.prod-list .active{background-size: 14px;}
    .prod-title{padding-bottom: 20px;}
}
@media(max-width:1400px){
    .prod-title h1{font-size: 20px;}
    .prod-list .list-title p{font-size: 16px;}
}
@media(max-width:1300px){
    .prod-list .list-title{padding-bottom: 10px;}
    .prod-title{padding-bottom: 18px;}
    .prod-title h1{font-size: 19px;}
    .prod-list .list-title p{font-size: 15px;}
    .prod-title a{font-size: 12px;width: 140px;line-height: 35px;}
    .prod-list .list-title span{font-size: 12px;}
    .prod-list .list-title,.prod-list .active{background-size: 12px;}
    .prod-list .list-txt p{font-size: 12px;line-height: 24px;}
    .prod-page p{font-size: 13px;}
}
@media(max-width:1200px){
    .prod-title{padding-bottom: 15px;margin-bottom: 30px;}
    .prod-title h1{font-size: 18px;}
    .prod-list .list-title p{font-size: 14px;}
}
@media(max-width:960px){
    .prod-title a{font-size: 12px;width: 120px;line-height: 30px;}
}
@media(max-width:760px){
    .prod-title h1{width: calc(95% - 120px);}
    .prod-page{padding-top: 30px;}
    .prod-list .list-txt{margin: 20px 0;}
}


